<template>
  <v-container>
    <h1>Books page</h1>
    <p>{{ mountain.title }}</p>
    <p>{{ mountain.description }}</p>
    <v-btn @click="$router.push('/')" color="primary">retour au menu</v-btn>
  </v-container>
</template>

<script setup>
  const { data: mountain } = await useFetch('/api/books/everest', {
    pick: ['title', 'description'],
  });
</script>
