<template>
  <v-container>
    <h1>welcome !</h1>
    <nav>
      <ul v-for="nav in navList" :key="nav.name">
        <li>
          <NuxtLink :to="nav.link">{{ nav.name }}</NuxtLink>
        </li>
      </ul>
    </nav>
  </v-container>
</template>

<script setup>
  const navList = ref([
    { name: 'Users', link: '/users' },
    { name: 'Books', link: '/books' },
  ]);
</script>
